@charset "utf-8";
/* CSS Document */
.item{
	width: 23%;
	border: 1px solid #44A8C7;
	min-height: 70px;
	margin-right: 10px;
	margin-left: 17px;
	float: left; position: relative;
	margin-top: 5px;
	border-radius: 10px;
}
.item img{
	width: 150px; height: 171px;
	
}
.item h3{
	color: #0275d8;
}
.item a{
	text-decoration: none;
	display: block;
}
